header {
  @include flex($just: space-between);
  img {
    width: 80px;
  }
  ul {
    @include flex;
    padding: 1em 0;
    gap: 5%;
    display: none;
    span {
      color: $primaryColor;
    }
    a{
      color: white;
    }
  }
}
