@media screen and (min-width:1024px) {
    #loading{
        img{
          width: 420px;
          left: calc(50% - 210px);
          top: calc(50% - 210px);
        }
        #imageLoader{
          width: 500px;
          height: 500px;
          left: calc(50% - 210px);
          top: calc(50% - 210px);
        }
    }
    header{
        img{
            width: 116px;
        }
        ul{
            @include flex;
            justify-content: space-around;
            width: 70vw;
            flex-direction: row;
            gap: 5%;
        }
        nav{
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: auto;
            background-color: $secondaryColor;
            position: relative;
            flex-wrap: wrap;
            overflow: visible;
            align-items: flex-end;
        }
        #burgerButton{
            display: none;
        }
    }
    //On rajoute de l'espace pour le menu socials fixé
    main{
        padding-left: 40px;
    }
    //Partie introduction
    #introduction{
        h1{
            font-size: 45px;
            span{
                font-size: 32px;
            }
        }
        p:last-of-type{
            width: 65%;
        }
    }
    //Partie a propos
    #aPropos{
        @include flex;
        #aProposTexte{
            order: 2;
            width: 60%;
            margin-left: 4em;
            padding-right: 3em;
        }
        h2{
            text-align: right;
        }
        p{
            text-align: right;
        }
        //On change l'ordre de la photo
        #pathPhoto{
            order: 1;
        }
        #pathBorder{
            left: 110px;
            top: 120px;
        }
    }
    //Section competences
    #competences{
        h2{
            margin-bottom: 10em;
        }
        i{
            font-size: 42px;
        }
        p{
            font-size: 24px;
        }
    }
    #parcours{
        #parcoursContainer{
            margin-left: 4em;
            #texteAnnee{
                article{
                    p:last-of-type{
                        width: 70%;
                        padding-top: 1em;
                    }
                }
            }
        }
    }
    //Section contact
    #contact{
        p{
            width: 52%;
            margin:2em auto;
        }
    }
    //Partie footer
    footer{
        ul{
            position: fixed;
            left: 1%;
            bottom: 10%;
            flex-direction: column;
            gap: 1em;
            &::after{
                content: '';
                width: 2px;
                height: 300px;
                bottom: -110%;
                background-color: $thirdColor;
                position: absolute;
            }
        }
    }
}

@media screen and (min-width:1420px) {
        header{
            ul{
                width: 50vw;
            }
        }
        #introduction{
            p:last-of-type{
                width: 50%;
            }
        }
        #aPropos{
        justify-content: space-evenly;
        h2{
            margin-bottom: 1em;
        }
        #aProposTexte{
            padding-right: 1em;
            width: 40%;
        }
        #pathPhoto{
        width: 300px;
        height: 300px;
        }
        #pathBorder{
            width: 300px;
            height: 300px;
            top: 5%;
            left: 15%;
            #pathBackground{
                width: 296px;
                height: 296px;
            }
        }
    }
    #projet{
        #projetContainer{
            display: flex;
            flex-wrap: wrap;
        }
        article{
            #textProjet {
                display: none;
                background-color: #0f3040;
              }
              .filtreBleu {
                width: 100%;
                height: 100%;
                background-color: #41ead48d;
                transition: all 800ms ease-in-out 400ms;
                margin-bottom: auto;
            }

              &:hover #textProjet{
                  animation: fromBottom 700ms ease-in-out;
                  display: block;
              }
              &:hover .filtreBleu{
                  height: 0%;
              }

              @keyframes fromBottom {
                  from{
                      transform: translateY(100%);
                      opacity: 0;
                  }
                  to{
                      transform: translateY(0%);
                      opacity: 1;
                  }
              }
    }
    }
        
}