@charset "UTF-8";
* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/UbuntuMono-Regular.ttf);
}
@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/UbuntuMono-Bold.ttf);
}
@font-face {
  font-family: "Hind";
  src: url(../fonts/HindGuntur-Regular.ttf);
}
h1,
h2,
h3,
h4 {
  font-family: "Ubuntu";
}

p,
li,
a {
  font-family: "Hind";
}

.btn {
  padding: 0.5em 1em;
  border: #41ead4 2px solid;
  border-radius: 10px;
  color: #41ead4;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #41ead4;
  color: #052839;
  font-weight: bold;
}

h2 > span {
  color: #41ead4;
}

h2 {
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 80px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 45%;
  gap: 5%;
  display: none;
}
header ul span {
  color: #41ead4;
}
header ul a {
  color: #41ead4;
}

body {
  color: white;
  background-color: #052839;
}

#introduction {
  padding: 6%;
  margin-top: 1em;
}
#introduction p:first-of-type {
  font-size: 14px;
}
#introduction h1 {
  font-family: "Ubuntu Bold";
  font-size: 36px;
  letter-spacing: 5px;
}
#introduction h1 span {
  padding-top: 10px;
  letter-spacing: 0px;
  font-size: 20px;
  display: block;
  color: #8d99ae;
}
#introduction p {
  padding-top: 1em;
  font-size: 16px;
}
#introduction p span {
  color: #41ead4;
}
#introduction i {
  padding-top: 1em;
  display: block;
  margin: auto;
  font-size: 50px;
  text-align: center;
  color: #41ead4;
  transition: all 0.5s ease;
}
#introduction i:hover {
  transform: translateY(7%);
}

#aPropos {
  position: relative;
  margin-top: 2em;
  padding: 6%;
}
#aPropos h2 {
  text-align: center;
}
#aPropos p {
  padding-top: 2em;
  text-align: center;
  padding-bottom: 2.5em;
}
#aPropos p span {
  color: #41ead4;
}
#aPropos #pathPhoto {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 100px);
  background-image: url(../images/photoThéo.jpg);
  background-size: cover;
  clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
  background-position: center;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
  background-color: rgba(210, 105, 30, 0.564);
}
#aPropos #pathPhoto .filtreBleu {
  width: 100%;
  height: 100%;
  background-color: #41ead48d;
  transition: all 400ms ease-in-out;
}
#aPropos #pathPhoto .filtreBleu:hover {
  background-color: #41ead400;
}
#aPropos #pathBorder {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 50px;
  left: calc(50% - 80px);
  clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
  background-color: #41ead4;
}
#aPropos #pathBorder #pathBackground {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 196px;
  height: 196px;
  background-color: #052839;
  clip-path: polygon(16% 0, 100% 0%, 84% 100%, 0% 100%);
}

#competences {
  position: relative;
  margin-top: 5em;
}
#competences h2 {
  text-align: center;
}
#competences p {
  width: min-content;
  margin: auto;
  border-bottom: 2px solid #41ead4;
}
#competences #competencesContainer {
  position: relative;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding-bottom: 1em;
}
#competences #competencesContainer img {
  width: 20%;
}
#competences #competencesContainer #competence1,
#competences #competencesContainer #competence5 {
  width: 10%;
  max-width: 78px;
}
#competences #competencesContainer #competence2,
#competences #competencesContainer #competence4 {
  width: 15%;
  max-width: 117px;
}
#competences #competencesContainer #competence3 {
  width: 20%;
  max-width: 156px;
}
#competences i {
  position: absolute;
  bottom: 0;
  font-size: 32px;
  color: #41ead4;
  transition: all 0.5s ease;
}
#competences i:first-of-type {
  right: 20%;
}
#competences i:first-of-type:hover {
  transform: translateX(10%);
}
#competences i:last-of-type {
  left: 20%;
}
#competences i:last-of-type:hover {
  transform: translateX(-10%);
}

#parcours {
  margin-top: 5em;
}
#parcours h2 {
  text-align: center;
  margin-bottom: 2em;
}
#parcours span {
  color: #41ead4;
}
#parcours .btn {
  display: block;
  width: 90px;
  text-align: center;
  margin: auto;
  padding-bottom: 0.2em;
}
#parcours #parcoursContainer {
  position: relative;
}
#parcours #parcoursContainer #friseChronologique {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  margin-right: 2em;
  left: 15%;
}
#parcours #parcoursContainer #texteAnnee {
  margin-left: 25%;
  padding-right: 5%;
}
#parcours #parcoursContainer #texteAnnee article {
  margin-bottom: 3em;
  position: relative;
}
#parcours #parcoursContainer #texteAnnee article::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8d99ae;
  top: 30%;
  left: -15.8%;
}
#parcours #parcoursContainer #texteAnnee article p:nth-of-type(2) {
  color: #8d99ae;
}
#parcours #parcoursContainer #texteAnnee article p:first-of-type {
  position: absolute;
  left: -32%;
  width: 34px;
  top: 28%;
}
#parcours #parcoursContainer #texteAnnee h3 {
  font-weight: 300;
}

#projet {
  margin-top: 4em;
}
#projet h2 {
  text-align: center;
  margin-bottom: 2em;
}
#projet #chaletEtCaviar {
  background-image: url("../images/ImageDuSiteChaletEtCavier.png");
  background-size: contain;
}
#projet #rocketCom {
  background-image: url("../images/ImageDuSiteRocket'Com.png");
  background-size: 140%;
  background-repeat: no-repeat;
}
#projet #gbaf {
  background-image: url("../images/ImageDuSiteGBAF.png");
  background-size: contain;
}
#projet article {
  text-align: center;
  width: 90%;
  max-width: 478px;
  height: 270px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-bottom: black 1px solid;
}
#projet article #textProjet {
  background-color: #0f3040;
}
#projet article ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: 12px;
}
#projet article ul li {
  list-style: circle;
}
#projet article .btn {
  width: 25%;
  max-width: 110px;
  padding: 0.2em 1em;
}
#projet > a {
  margin: 2em auto;
  display: block;
  width: 20%;
  max-width: 190px;
  padding-bottom: 0.2em;
  border-width: 1px;
  text-align: center;
}

#contact {
  margin-top: 6em;
}
#contact h2 {
  text-align: center;
  margin-bottom: 2em;
}
#contact p {
  text-align: center;
  padding: 0 6%;
  margin-bottom: 2em;
}
#contact a {
  display: block;
  width: 40%;
  padding-bottom: 0.2em;
  text-align: center;
  color: #41ead4;
  margin: auto;
  max-width: 210px;
}

footer {
  margin-top: 2em;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer ul i {
  font-size: 45px;
  color: #8d99ae;
}
footer p {
  text-align: center;
  font-size: 14px;
  color: #8d99ae;
  width: 80%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
